/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --hero-text-color: #DB00FF;
  --accent-text-color: #000028;
  --section-title-color: #FF0070;
  --subtitle-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --button-border-color: #FF0070;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-dark .header {
  position: relative;
  color: var(--accent-color, #FF0070);
}

.theme-dark .header__decoration {
  display: block;
  position: absolute;
  right: 24px;
  line-height: 1.4em;
  text-transform: uppercase;
}

.theme-dark .header__decoration::after {
  display: block;
  content: '';
  block-size: 9px;
  inline-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color, #FF0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
  position: absolute;
  right: -15px;
  top: 8px;
}
